.modal {
  position: relative;
  border-radius: 40px;
  background-color: #1c1c21;
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
}
