.price {
  display: flex;
}

.priceValue {
  margin-right: 9px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 536px;
  background-color: #1c1c21;
  /* border-radius: 40px; */
  box-sizing: border-box;
}
.image {
  width: 80px;
  height: 40px;
}
.name {
  max-width: 254px;
}
.values {
  display: flex;
  align-items: center;
}
.ingredient {
  display: flex;
  align-items: center;
}
